.advantages {
  padding: 110px 0 120px;
  background-color: $lavender-color;
  background-image: url("../img/advantages-bg.jpg");
  background-size: 1366px 562px;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advantages {
    background-image: url("../img/advantages-bg@2x.jpg");
  }
}

.advantages__heading {
  margin: 0 0 49px;
  text-align: center;
}

.advantages__list {
  list-style: none;
  margin: 0 0 0 -40px;
  padding: 0;
  display: flex;
}

.advantages__item {
  position: relative;
  width: calc(33.33% - 40px);
  margin-left: 40px;
  padding: 82px 30px 26px;
  font-size: 14px;
  line-height: 1.4;
  background-color: $light-color;

  &--check .advantages__item-text {
    padding-right: 20px;
  }

  &--zodiac .advantages__item-text {
    padding-right: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 30px;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  &--ship::before {
    width: 27px;
    height: 32px;
    top: 30px;
    background-image: url("../img/icon-ship.svg");
  }

  &--check::before {
    width: 38px;
    height: 21px;
    top: 35px;
    background-image: url("../img/icon-check.svg");
  }

  &--zodiac::before {
    width: 42px;
    height: 16px;
    top: 38px;
    background-image: url("../img/icon-zodiac.svg");
  }
}

.advantages__item-heading {
  margin: 0 0 12px;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: $tablet-width) {
  .advantages {
    padding: 92px 0 100px;
    background-image: url("../img/advantages-bg-tablet.jpg");
    background-size: 768px 588px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantages {
      background-image: url("../img/advantages-bg-tablet@2x.jpg");
      background-size: 768px 588px;
    }
  }

  .advantages__heading {
    margin: 0 0 49px;
    text-align: center;
  }

  .advantages__list {
    margin: 0 0 0 -30px;
  }

  .advantages__item {
    width: calc(33.33% - 30px);
    margin-left: 30px;
    padding: 72px 16px 20px 20px;

    &--check .advantages__item-text {
      padding-right: 0;
    }

    &--zodiac .advantages__item-text {
      padding-right: 0;
    }

    &--zodiac {
      padding-right: 19px;
    }

    &::before {
      left: 20px;
    }

    &--ship::before {
      width: 21px;
      height: 26px;
      top: 27px;
    }

    &--check::before {
      width: 33px;
      height: 19px;
      top: 31px;
    }

    &--zodiac::before {
      width: 38px;
      height: 13px;
      top: 33px;
    }
  }

  .advantages__item-heading {
    margin-bottom: 10px;
  }

  .advantages__item-text {
    line-height: 1.43;
  }
}

@media screen and (max-width: $mobile-width) {
  .advantages {
    padding: 57px 0 66px;
    background-position: 0 0;
    background-image: url("../img/advantages-bg-mobile.jpg");
    background-size: 768px 997px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantages {
      background-image: url("../img/advantages-bg-mobile@2x.jpg");
      background-size: 768px 997px;
    }
  }

  .advantages__heading {
    margin: 0 0 32px;
    text-align: center;
  }

  .advantages__list {
    display: block;
    margin: 0;
  }

  .advantages__item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;

    &--check .advantages__item-text {
      padding-right: 12px;
    }

    &--zodiac .advantages__item-text {
      padding-right: 0;
    }
  }

  .advantages__item:last-child {
    margin-bottom: 0;
  }

  .advantages__item-heading {
    max-width: 78.74%;
    margin-bottom: 8px;
  }
}
