.journey {
  padding: 120px 0;
}

.journey__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.journey__heading {
  margin: 0 0 23px;
}

.journey__content {
  width: 44.137%;
  align-self: center;
}

.journey__image-wrapper {
  overflow: hidden;
  width: 48.275%;
  height: 301px;
  flex-shrink: 0;
}

.journey__image {
  position: relative;
  top: -39px;
  left: -97px;
}

@media screen and (max-width: $tablet-width) {
  .journey {
    padding: 92px 0 94px;
  }

  .journey__heading {
    margin: 0 0 14px;
  }

  .journey__content {
    width: 47.787%;
  }

  .journey__image-wrapper {
    width: 47.787%;
    height: 264px;
  }

  .journey__image {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
  }
}

@media screen and (max-width: $mobile-width) {
  .journey {
    padding: 57px 0 66px;
  }

  .journey__inner {
    display: block;
  }

  .journey__content {
    width: 100%;
    margin-bottom: 34px;
  }

  .journey__image-wrapper {
    position: relative;
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    height: auto;
    padding-top: 64.137%;
  }

  .journey__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
  }
}
