.logo {
  fill: $light-color;
}

.logo__image {
  display: block;
}

@media screen and (max-width: $tablet-width) {
  .logo__image {
    width: 38px;
    height: auto;
  }
}

@media screen and (max-width: $mobile-width) {
  .logo {
    position: relative;
    z-index: 1;

    &--dark {
      fill: $base-color;
    }
  }

  .no-js .logo {
    position: absolute;
    fill: $base-color;
  }

  .logo__image {
    width: 42px;
  }
}
